@import '../variables/colors';
@import '../variables/media-query';

@media screen and (min-width: $min-width-xs)
{
	body {
		background-color: $blue;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2em 3em;
	}

	.pi_Card {
		background-color: $white;
		max-width: 37em;

		&-network {
			display: flex;
			justify-content: space-between;

			&-location {
				align-self: center;
			}

			&-contact {
				height: 3em;
			}
		}
	}
}

@media screen and (min-width: $min-width-sm)
{
	body {
		padding: 2em 0.6em;
	}

	.pi_Card {
		max-width: 50em;
		position: relative;

		&::before {
			max-width: 20em !important;
			background-image: url(../img/perfil2.jpg) !important;
			position: absolute;
			top: 0;
			bottom: 0;
			height: 100% !important;
		}

		&-information {
			padding: 1em 2em 1em 21em !important;
		}
	}
}

@media screen and (min-width: $min-width-md)
{
	.pi_Card {
		max-width: 65em;

		&::before {
			top: -1.2em;
			left: 1.5em;
			height: 29em !important;
		}

		&-information{
			padding: 1em 2em 1em 23em !important;
		}
	}
}