@import '../../../scss/variables/colors';

.pi_Card {
	&-projectsList {
		&-li {
			cursor: pointer;

			&:hover{
				background-color: $white-light;

				.pi_Card-projectsList-li-project::before{
					transform: scale(1.3);
				}
			}
			
			&-project {
				position: relative;
				padding-left: 0.7em;
				color: $blue;

				&::before{
					content: "";
					transition: 0.3s;
					position: absolute;
					width: 3px;
					height: 3px;
					background: $blue;
					border-radius: 50%;
					left: 2%;
					top: 42%;
				}
			}

			&-description {
				font-size: 0.8em;
				color: $gray;
			}

			a {
				text-decoration: none;
				display: block;
			}
		}
	}
}