@import '../../scss/variables/colors';

.pi_Card {
	&-network {
		&-location {
			.icon {
				vertical-align: text-top;
			}
		}

		&-contact {
			list-style: none;
			padding: 0;


			&-item {
				display: inline-block;

				.icon {
					color: $gray;
					opacity: 0.5;
					transition: opacity 0.3s ease;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
