* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Mukta', sans-serif;
	line-height: initial;
}

body, html {
  height: 100%;
}

@import 'partials/card-information';
@import 'partials/card-social-network'; 
@import 'partials/media-query';
