/**
xs - > 576 px --- min-width:576px, max-width: 767
sm - > 768 px --- min-width: 678px, max-width: 991px
md - > 992 px --- min-width: 992px, max-width: 1999px
lg - > 1200 px -- min-width: 1200px
*/

$min-width-xs: 36em;
$min-width-sm: 48em;
$min-width-md: 62em;
